
{% extends '../../_base.html' %}
{% block topsearch %}{% endblock topsearch %}
{% block carousel %}{% endblock carousel %}
{% block contect %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Reset Password Done</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <h3>Please Check Your Email To Reset Your Password</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock contect %}

{% block footer %}{% endblock footer %}




